.grid-wrapper {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 15px;

  grid-template-areas:
    ".  first-row    first-row   ."
    ".  second-row   second-row  ."
    ".  third-row    third-row   .";
}
.first-row {
  grid-area: first-row;
}
.second-row {
  grid-area: second-row;
}
.third-row {
  grid-area: third-row;
}
