<h5 class="element-header">
  Reset password
</h5>

<div class="element-box">
  <form class="row justify-content-center form-icons" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="col-sm-4">
      <div class="form-group">
        <div class="alert alert-info">
          <h4>Password Requirements</h4>
          <ul>
            <li>Must be at least 9 characters.</li>
            <li>Must contain a lowercase letter, an uppercase letter and a digit.</li>
            <li>Must be different from the last 4 passwords you've used</li>
            <li>Expires every 45 days automatically</li>
            <li>Account is locked out after 5 wrong password attempts</li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <div class="alert alert-warning">IMPORTANT: Do not use a password you have ever used anywhere else!</div>
      </div>

      <div class="form-group" *ngIf="success">
        <div class="alert alert-success">Password was changed successfully</div>
      </div>

      <div class="form-group" *ngIf="serverException" [ngSwitch]="serverError">
        <div class="alert alert-danger" *ngSwitchCase="'CONFIRMATION_PASSWORD_MISMATCH'">Server error. {{formErrors.isEqual}}
        </div>
        <div class="alert alert-danger" *ngSwitchCase="'OLD_PASSWORD_MISMATCH'">Server error. Old password doesn't
          match.
        </div>
        <div class="alert alert-danger" *ngSwitchCase="'PASSWORD_ALREADY_USED'">Server error. Must be different from the last 4 passwords you've used.
        </div>
        <div class="alert alert-danger" *ngSwitchDefault>Server error. Reload page or try later
        </div>
      </div>

      <div class="form-group" [ngClass]="errorClasses('oldPassword')">
        <div class="pre-icon os-icon os-icon-fingerprint"></div>
        <label>Current password</label>
        <input
          type="password"
          formControlName="oldPassword" class="form-control" placeholder="Enter your current password"
        />
        <div
          class="help-block form-text with-errors form-control-feedback"
          *ngIf="controlHasErrors('oldPassword')"
        >
          {{controlValidateMessage('oldPassword')}}
        </div>
      </div>

      <div class="form-group" [ngClass]="errorClasses('password')">
        <div class="pre-icon os-icon os-icon-fingerprint"></div>
        <label>New password</label>
        <input
          type="password"
          formControlName="password" class="form-control" placeholder="Enter your new password"
        />
        <div
          class="help-block form-text with-errors form-control-feedback"
          *ngIf="controlHasErrors('password')"
        >
          {{controlValidateMessage('password')}}
        </div>
      </div>

      <div
        class="form-group"
        [class.has-danger]="controlHasErrors('confirmPassword') ||( formGroup.errors && !formGroup.errors['isEqual'])"
      >
        <div class="pre-icon os-icon os-icon-fingerprint"></div>
        <label>New password confirmation</label>
        <input
          type="password" formControlName="confirmPassword" class="form-control"
          placeholder="Confirm your new password"
        />
        <div
          class="help-block form-text with-errors form-control-feedback"
          *ngIf="controlHasErrors('confirmPassword')"
        >
          {{controlValidateMessage('confirmPassword')}}
        </div>
        <div
          class="help-block form-text with-errors form-control-feedback"
          *ngIf="formGroup.errors && !formGroup.errors['isEqual']"
        >
          {{formErrors['isEqual']}}
        </div>
      </div>

      <div class="buttons-w d-flex justify-content-between">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </div>
  </form>
</div>
