<ng-container *ngIf="ready">
  <h4 class="auth-header">
    Login
  </h4>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group" *ngIf="loginFailed">
      <div class="alert alert-danger">Login failed, check your credentials!</div>
    </div>

    <div class="form-group">
      <div class="pre-icon os-icon os-icon-user-male-circle"></div>
      <label>Username</label>
      <input id="username" type="text" formControlName="username" class="form-control" placeholder="Enter your username" [ngClass]="{'is-invalid': controlHasErrors('username')}" />
    </div>

    <div class="form-group">
      <div class="pre-icon os-icon os-icon-fingerprint"></div>
      <label>Password</label>
      <input id="password" type="password" formControlName="password" class="form-control" placeholder="Enter your password" [ngClass]="{'is-invalid': controlHasErrors('password')}" />
      <div
        class="help-block form-text with-errors form-control-feedback"
        *ngIf="controlHasErrors('password')"
      >
        {{controlValidateMessage('password')}}
      </div>
    </div>

    <div class="buttons-w d-flex justify-content-between">
      <button class="btn btn-primary" type="submit" [disabled]="requestInProgress">Login</button>
      <button class="btn btn-secondary" (click)="resetPassword()" type="button" [disabled]="requestInProgress">Password reset</button>
    </div>
  </form>
</ng-container>
